<h1><%= @project.name %></h1>



<div class="column-group horizontal-gutters vertical-gutters">
  <div class="all-80 push-center highlight">
      
    <h2>Manage Your Data</h2>
    <p>Your url for your project is:<br />
    <span style="font-size: 150%"><%= link_to(project_items_url(@project),project_items_url(@project)) %></span><br />
    When you are ready, share this with your collaborators to crowdsource photos!</p>

    <% if @project.data_imports.count > 0 %>
      <h3>Current Data Sources</h3>
      <% unless @project.data_imports.first.try(:name_field) %>
        <div class="ink-alert info" role="alert">
          <h4>Get started</h4>
          <p>Looks like you'll want to describe your data a little</p>
          <p>Let's start to <%= link_to 'Map Data Fields', edit_data_import_path(@project.data_imports.first) %></p>
        </div>
      <% end %>
      

      <table class='ink-table'>
        <thead>
          <tr>
            <th>Data Source</th>
            <th>Status</th>
            <th>Items</th>
            <th>Actions</th>
          </tr>
        </thead>  
        <tbody>
          <% @project.data_imports.order(:id).each do |import| %>
            <tr>
              <td style='font-size:0.7em'><%= import.data_source_uri %></td>
              <td><%= import.status %></td>
              <td><%= import.items.count %></td>
              <td>
                <%= link_to 'Map Data Fields', edit_data_import_path(import) %><br />
                <%= link_to 'Re-Import', re_import_data_import_path(import), method: :post, confirm: 'Are you sure? This will delete existing import data first!' %><br />
                <%= link_to 'Change SRID', edit_srid_data_import_path(import) %><br />
                <a href=''>Delete Data Set</a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <h3>Add Data Sources</h3>

    <%= simple_form_for(DataImport.new(project_id: @project.id)) do |f| %>
      <div class="control-group all-33">
        <%= f.input :project_id, as: :hidden %>
        <%= f.input :data_source_uri, label: 'Data Source URI', placeholder: 'http://...', value: "http://opendata.adelaidecitycouncil.com/street_trees/street%20trees-point.kmz" %>
        <small class="pull-left">(csv w/coordinates, kml or shp as WSG84). Not sure? <a href="http://opendata.adelaidecitycouncil.com/street_trees/street%20trees-point.kmz">Copy this link</a></small>
      </div>
      <div class="control-group all-33" style='clear:left;'>
        <div class="control">
          <br>
          <button class="ink-button blue">Import Data Set</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="column-group horizontal-gutters vertical-gutters">
  <div class="all-80 push-center highlight">
    <h4>Modify Geographic Boundary</h4>

    <%= simple_form_for(@project) do |f| %>
      <p>
        <%= f.input :administrative_boundry_id, collection: AdministrativeBoundry.all.order(:name) %>
        <small>(csv w/coordinates, kml or shp as WSG84)</small>
      </p>

      <p class="">
        <div class="control">
          <button class="ink-button blue">Update</button>
        </div>
      </p>
    <% end %>
  </div>
</div>
