<div class="projects">
  <div class="row">
    <div class="project-items col-md-8" style="overflow-y: scroll; max-height: 400px">
      <%= render 'list', project: @project, items: @items, current_item: @item %>
    </div>

    <div class="project-preview col-md-4">
    
      <div id="map"></div>

      <div class="fotorama" data-width="600" data-height="400">
        <% @item.photos.each do |photo| %>
          <% if photo.is_video? %>
            <%= link_to 'video', photo.video_url %>
          <% else %>
            <%= image_tag photo.image.url(:large) %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <h4> Licence </h4>
      <select>
        <option>CC-BY 3.0</option>
      </select>
      <br />
      <small>Choose a photo license</small>

      <div class="alert alert-danger" title="TODO">
        Put this in the previous screen?
      </div>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <h4> Download </h4>
      <a class="btn btn-primary">
        <i class="icon-zip" />
        .zip
      </a>
      <br />
      <small>Contains shape files, links to images, etc</small>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <h4> Share </h4>
      <a class="btn btn-primary">
        Generate link
      </a>
      <br />
      <small>Share this project with your crowd</small>
    </div>    

  </div>
</div>


<% if @item.point %>
<script type="text/javascript">
var listApplication = {
  init: function () {
    var map = listApplication.map;
    $('a[data-coords]').click(listApplication.actions.view);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
  },
  map: L.map('map'),
  marker: null,
  actions: {
    view: function(e) {
      var map = listApplication.map;
      var coords = [<%= @item.point.y %>, <%= @item.point.y %>];
      map.setView(coords, 17);

      if (listApplication.marker) {
        map.removeLayer(listApplication.marker);
      }
      // TODO Handlebars?
      var template = '';

      for (key in $(e.target).data()) {
        template += String(key) + ": " + String($(e.target).data(key)) + "<br />";
      }
      listApplication.marker = L.marker(coords).addTo(map)
          .bindPopup(template);

      $('#preview').attr('src', $(e.target).data('imageUrl'));
    }
  }

};

listApplication.init();

</script>

<% end %>
