<!DOCTYPE html>
<html>
<head>
  <title>Shaprgram</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="ink-grid">
  <div class="column-group push-center">
    <div class="all-90">
      <div class="logo"><%= image_tag("logo.png", height: 60, alt: "Logo", data: { :no-retina => "" }) %></div>
      <nav class="ink-navigation">
      <ul class="menu horizontal black">
        <li><a href="/">Home</a></li>
        <!--<li><a href="#">Help</a></li>-->
        <li><a href="/projects">Public Projects</a></li>
      </ul>
      </nav>
      <br>

      <%= render '/layouts/flash_messages' %>

      <%= yield %>

    </div>
  </div>
</div>
</body>
</html>